<footer>
    <div class="footer">
        <div class="divfooter"> 
            <div class="divDatos"> 
                <img class="imgLogo" src="../../logomn.png" alt="domicilio" />
                <p class="parrafopie">Av. Constitución No. 2141, Colonia Puerta del Sol, Colima, Col.</p>
                <p class="parrafopie">Tel.: 312 330 0404</p>
            </div>
        </div>
        <div class="footerdivicons divfooter"> 
            <div>
                <a href="https://www.facebook.com/profile.php?id=100008755599666" target="_blank" rel="noreferrer" >
                    <span title="Facebook">  <img class="fotoReduce" src="../../fb.png" alt="facebook" />  </span>
                </a>
            </div>
            <div>
                <a href="https://github.com/AlexT-Dev" target="_blank" rel="noreferrer">
                    <span title="Gut Hub">  <img class="fotoReduce" src="../../gh.png" alt="GitHub" />  </span>
                </a>
            </div>
            <div>
                <a
                    href="https://www.linkedin.com/in/alejandro-t%C3%A9llez-aguilar-175b02214/"
                    target="_blank" rel="noreferrer">
                    <span title="LinkedIn">  <img class="fotoReduce" src="../../in.png" alt="Indeed" />  </span>
                </a>
            </div>
        </div>
        <div class="divfooter"> 
            <p class="parrafopie">Creado con: Java MVC Spring Boot</p>
            <p class="parrafopie">CSS: Alejandro Téllez A.</p>
        </div>
    </div>
</footer>
</body>
</html>