<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/personalstyle.css" type="text/css" />
    <title>
        <%= title %>
    </title>
</head>

<body class="bodylogin">

    <div class="divlogin">
        <form action="/users/acceso/" method="post">
            <div class="divcontenido">
                <img src="../../Acceso.png" height="80" width="80" />
                <p class="plogin"><strong>Bievenido a Histórico de Pacientes</strong></p>
            </div>
            <div class="divform">
                <div class="divlabel">
                    <label class="labellogin">Cuenta:</label>
                    <label class="labellogin">Contraseña:</label>
                </div>
                <div>
                    <input class="divlabel" type="text" name="cuenta" placeholder="ejemplo@dominio.com" size="35">
                    <input class="divlabel" type="password" name="password">
                </div>
            </div>
            <div class="labellogin">
                <input class="btnlogin" input type="submit" value="Ingresar">
            </div>
            <% if (message) { %>
              <div class="containerModal" >
                <div class="popup" id="modal">
                    <div>
                        <p class="textModal">
                            <%= title %>
                        </p>
                        <hr class="hrModal">
                        </hr>
                    </div>
                    <div>
                        <p class="textModal">
                            <%= message %>
                        </p>
                    </div>
                    <div>
                        <a href="/login/login" class="btncloseModal" rel="noreferrer">
                            Cerrar
                        </a>
                    </div>
                </div>
            </div>
                <% } %>
        </form>



    </div>


</body>





</html>